.layout {
  overflow: auto;
  display: grid;
  grid-template-columns: 150px 1.5fr 1fr 6.25rem;
  grid-template-rows: repeat(6, auto);
}
.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  grid-row: 1 / -1;
  grid-column: 1 / 2;
}
.navbar {
  grid-row: 1 / 2;
  grid-column: 2 / 5;
}
.project_container {
  width: 100%;
  border-radius: 30px;
  padding: 40px 60px;
  background-color: white;
  grid-column: 2 / 3;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-top: 40px;
}
.task_container {
  width: 100%;
  grid-column: 3 / 5;
}
.task_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 40px 30px 30px;
}
.task_item {
  padding: 20px;
  border-bottom: solid 2px #000;
}
.task_item_container {
  display: flex;
  align-items: center;
}
.task_project {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 10px;
}
.title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
